h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 3em;
    text-align: center;
}

p {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    
}

.p2 {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
}
